<section >
            <ng-container *ngIf="state.bonosDeUsuario.length > 0; else noBonosTpl">
              <h2 >Mis Bonos</h2>
              <div class="w-full overflow-x-auto">
                <table >
                  <thead>
                    <tr class="min-w-full table-fixed text-xs sm:text-sm text-left">
                      <th class="pl-4">Cliente</th>
                      <th class="pl-4">Total clases</th>
                      <th class="pl-4">Clases restantes</th>
                      <th class="pl-4">Estado</th>
                      <th class="pl-4">Mes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bono of state.bonosDeUsuario">
                      <td >{{ bono.cliente }}</td>
                      <td >{{ bono.total_clases }}</td>
                      <td >{{ bono.clases_restantes }}</td>
                      <td >{{ bono.estado }}</td>
                      <td >{{ bono.fecha }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <ng-template #noBonosTpl>
              <div class="text-gray-600 italic mt-2">Sin datos</div>
            </ng-template>
</section>