<section  class="p-1 sm:p-10 bg-yellow-200 ">
            <ng-container *ngIf="state.bonosDeUsuario.length > 0; else noBonosTpl">
              <h2 class="text-xl sm:text-2xl font-bold text-center mb-3 sm:mb-4">Mis Bonos</h2>
              <div class="w-full overflow-x-auto">
                <table class="min-w-full table-fixed text-xs sm:text-sm bg-white rounded-lg overflow-hidden">
                  <thead>
                    <tr class="min-w-full table-fixed text-xs sm:text-sm text-left">
                      <th class="pl-4">Usuario ID</th>
                      <th class="pl-4">Cliente</th>
                      <th class="pl-4">Total clases</th>
                      <th class="pl-4">Clases restantes</th>
                      <th class="pl-4">Estado</th>
                      <th class="pl-4">Mes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bono of state.bonosDeUsuario" class="text-black text-left hover:text-yellow-600 hover:bg-green-400 bg-yellow-200 w-full">
                      <td class="pl-4 whitespace-nowrap">{{ bono.usuario_id }}</td>
                      <td class="pl-4 whitespace-nowrap">{{ bono.cliente }}</td>
                      <td class="pl-4 whitespace-nowrap">{{ bono.total_clases }}</td>
                      <td class="pl-4 whitespace-nowrap">{{ bono.clases_restantes }}</td>
                      <td class="pl-4 whitespace-nowrap">{{ bono.estado }}</td>
                      <td class="pl-4 whitespace-nowrap">{{ bono.mes }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <ng-template #noBonosTpl>
              <div class="text-gray-600 italic mt-2">Sin datos</div>
            </ng-template>
</section>