<section >
  <ng-container *ngIf="state.walletUsuario.length > 0; else noWalletTpl">
    <h2 >Pagos</h2>

    <div class="overflow-x-auto">
      <table>
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Tipo clase</th>
            <th>Precio</th>
            <th>Mes</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let w of state.walletUsuario">
            <td>{{ w.usuario_nombre }}</td>
            <td>{{ w.tipoclase_nombre }}</td>
            <td>{{ w.tipoclase_precio }}</td>
            <td>{{ w.mes }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #noWalletTpl>
    <div class="text-gray-500 text-center py-4">Sin datos</div>
  </ng-template>
</section>