<section >
  <ng-container *ngIf="state.reservasUsuario.length > 0; else noReservasTpl">
    <h2>Mis Reservas</h2>

    <div class="overflow-x-auto">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Clase</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Cancelar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of state.reservasUsuario">
            <td>{{ r.usuario_nombre }}</td>
            <td>{{ r.clase_nombre }}</td>
            <td>{{ r.fecha | date:'dd/MM/yy' }}</td>
            <td>{{ r.hora }}</td>
            <td>
              <button (click)="eliminarReservaAlumno(r.reserva_id); $event.stopPropagation()">
                ❌
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #noReservasTpl>
    <div class="text-gray-500 text-center py-4">Sin datos</div>
  </ng-template>
</section>