aside {
  height: 100%;
  width: 100%;
  background: rgb(2, 2, 2);
  backdrop-filter: blur(10px);
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

/* 🔥 Cambia el fondo y sombra del aside en hover */
aside:hover {
  background: #4a4a49;
  box-shadow: 4px 0 30px rgba(0, 0, 0, 0.3);
}

/* === BOTONES PRINCIPALES === */
aside button {
  padding: 0.75rem;
  position: relative;
  width: 100%;
  font-weight: 500;
  border-radius: 0.3rem;
  letter-spacing: 1px;
  color: rgb(7, 3, 248); /* 👈 Siempre negro */
  background: rgb(0, 0, 0); /* opcional, si los quieres con fondo claro */
  pointer-events: auto;
}

/* 💡 Esto asegura que aunque el aside cambie de color,
   los botones mantengan el suyo */
aside:hover button {
  color: rgb(0, 29, 250); /* fuerza el color negro */
  background: rgb(9, 8, 8); /* o el que uses */
}

/* === LISTAS INTERNAS === */
aside ul {
  
  margin-top: 0.5rem;
  list-style: none;
  transition: all 0.3s ease;
  animation: fadeIn 0.3s ease forwards;
  transform-origin: top;
  opacity: 0;
  transform: scaleY(0.9);
}

aside ul.ng-trigger, aside ul.ng-animating {
  opacity: 1 !important;
  transform: scaleY(1) !important;
}

/* Aparición con animación */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

/* === ENLACES === */
aside a {
  display: block;
  padding:  0.75rem;
  border-radius: 0.2rem;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  color: rgb(96, 222, 234);
  transition: all 0.25s ease;
}

/* Hover general */
aside a:hover {
  background: black;
  color: rgb(96, 222, 234); /* amarillo Tailwind */
  transform: translateX(4px);
}

/* Activo (routerLinkActive) */
aside a.text-yellow-400 {
  color: #060707;
  font-weight: 600;
  border-left: 3px solid #1076bf;
  background: rgba(255,255,255,0.08);
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  aside {
    padding: 0.5rem;
    box-shadow: none;
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255,0.15);
  }
  aside button {
    font-size: 1rem;
    padding: 0.5rem;
  }
  aside ul {
    border-left: none;
    text-align: center;
  }
  aside a {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
}