:host {
  position: relative;
  z-index: 1;
  pointer-events: none; /* 👈 Esto deja pasar el click */
}

:host a,
:host button,
:host img {
  pointer-events: auto; /* 👈 Pero los enlaces del footer sí seguirán siendo clicables */
}