
# ----------------------------------------
# 🐳 DOCKER / DEPLOY
# ----------------------------------------
*.log
*.pid
*.tar
*.zip
*.bak
*.sql
*.dump

# ----------------------------------------
# ⚙️ SISTEMA Y EDITORES
# ----------------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/