<app-header></app-header>
<div class="register-container">
    <h2 class="register-title">Registro de Usuarios</h2>
  <div class="register-card">
    <h2>Crea tu cuenta </h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <!-- Nombre -->
      <div>
        <input formControlName="nombre" placeholder="Nombre" type="text" />
      </div>

      <!-- Email -->
      <div>
        <input formControlName="email" placeholder="Email" type="email" />
      </div>

      <!-- Avatar -->
      <div class="avatar-section">
        <label for="avatar" class="avatar-label">Foto de perfil</label>

        <div class="avatar-circle">
          <label for="avatar" class="avatar-upload">
            <img
              *ngIf="previewUrl; else defaultAvatar"
              [src]="previewUrl"
              alt="Vista previa"
            />
            <ng-template #defaultAvatar>
              <div class="avatar-placeholder">
                <span>+</span>
              </div>
            </ng-template>
          </label>
        </div>

        <input
          id="avatar"
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
        />

        <button
          *ngIf="previewUrl"
          type="button"
          (click)="clearImage()"
          class="avatar-delete"
        >
          Eliminar foto
        </button>
      </div>

      <!-- Contraseña -->
      <div>
        <input formControlName="password" type="password" placeholder="Contraseña"
               [ngClass]="{
                 'valid': form.get('password')?.valid && form.get('password')?.touched,
                 'invalid': form.get('password')?.invalid && form.get('password')?.touched
               }"/>
        <p *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched">
          La contraseña debe tener al menos 6 caracteres
        </p>
      </div>

      <!-- Confirmar contraseña -->
      <div class="confirm-password">
        <input formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña"
               [ngClass]="{
                 'valid': !form.hasError('mismatch') && form.get('confirmPassword')?.value,
                 'invalid': form.hasError('mismatch') && form.get('confirmPassword')?.touched
               }"/>

        <span *ngIf="!form.hasError('mismatch') && form.get('confirmPassword')?.value" class="icon success">✅</span>
        <span *ngIf="form.hasError('mismatch') && form.get('confirmPassword')?.touched" class="icon error">❌</span>

        <p *ngIf="form.hasError('mismatch') && form.get('confirmPassword')?.touched">
          Las contraseñas no coinciden
        </p>
      </div>

      <!-- Botones -->
      <button type="submit" class="btn-primary">Registrarse</button>
      <button type="button" routerLink="/login" class="btn-secondary">Volver al Login</button>
    </form>
  </div>
</div>